/* src/components/HomePage/HomePage.module.css */
.banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 72px);
  padding: 64px;
  background-image: url('../../images/home.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bannerText {
  color: #F7F7F7;
  max-width: 2000px;
  margin: 0 auto;
  width: 100%;
}

.bannerText h1 {
  font-size: 3rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.bannerText h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.bannerButton {
  margin-top: 40px;
  background-color: #E44848;
  padding: 16px 56px;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.bannerButton:hover {
  background-color: #D84343;
}
